*.o
*.bak
*.a
*.la
*.obj
*~
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build
confdefs.h
config.h
config.log
config.status
configure
libtool
stamp-h1
*.o
*.lo
*.la
.libs
.deps
messages.pb.cc
messages.pb.h
*.psess
*.vsp
*.sdf
*.opensdf

